.card-mgmt{
    display: block;
    position: relative;
    width: 280px;
    height: 100%;
    left: 40px;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #81d4fa;
    background-color: white;
    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
}

.card-mgmt-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.19);
    background-color: white;
    border: 1px solid #81d4fa;
}

.card-details-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.card-desc-header {
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
}

#cards-wrapper {
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    height: 500px;
}

.card-input {
    width: 250px;
}
 .card-detail {
     font-family: Oswald;
     font-size: 24px;
 }
.card-field {
    padding: 5px;
}

.button-add-card {
    margin-top: 20px;
}

.center {
    justify-content: center;
    padding: 3%!important;
}
