<div id="cards-wrapper" class="column-wrapper">
    <form class="card-mgmt" ng-submit="cardsCtrl.saveCard()">
        <span class="header-field">Create new Card</span>
        <input class="card-input" placeholder="Please give the card front" ng-model="cardsCtrl.card.front" />
        <input class="card-input" placeholder="Please give the card back" ng-model="cardsCtrl.card.back" />
        <button >Add new card</button>
    </form>
    <div>
        <div ng-repeat="card in cardsCtrl.cards" >
            <div>{{card.front}}</div>
            <div>{{card.back}}</div>
        </div>
    </div>
</div>