<div id="cards-wrapper" class="column-wrapper">
    <form class="card-mgmt" ng-submit="cardsCtrl.saveCard()">
        <div class="card-mgmt-body">
            <span class="header-field card-field">Create new Card</span>
            <span class="card-detail card-field">Give the card front</span>
            <input class="card-input input-field card-field"
                   placeholder="Please give the card front"
                   ng-model="cardsCtrl.card.front" />
            <span class="card-detail card-field">Give the card back</span>
            <input class="card-input input-field card-field"
                   placeholder="Please give the card back"
                   ng-model="cardsCtrl.card.back" />
            <button class="button-add-card">Add new card</button>
        </div>

    </form>
    <div class="details">
        <div class="card-details-header card-detail" >
            <span class="header-field card-field">Cards</span>
            <div class="card-desc-header">
                <span>Front</span>
                <span>Back</span>
            </div>
        </div>
        <div class="scroll-x">
            <div class="card-details" ng-repeat="card in cardsCtrl.cards" >
                <span class="category-field content">{{card.front}}</span>
                <span class="category-field content">{{card.back}}</span>
                <div>
                    <i class="material-icons md-30 clear" ng-click="cardsCtrl.deleteCard(card.id)">
                        {{ cardsCtrl.clear }}</i>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="column-wrapper center">
    <button ui-sref="user.session({categoryId : {{cardsCtrl.card.category.id}} })">Let's Play</button>
</div>