<div ng-if="!authenticated" id="login-wrapper">
    <div id="login-details">
        <div id="user-details">
            <label class="light-text" for="userName">Username</label>
            <input id="userName" class="input-field" type="text" requried="true"/>

            <label class="light-text" path="password">Password</label>
            <input class="input-field" type="password" path="password" requried="true"/>
        </div>
        <span ng-show="error">LOGIN FAILED!</span>
        <a id="register-link" ui-sref="registration">If you don't have an account please register</a>
    </div>
    <button id="submit-login" type="submit">
        <span class="bold-text">LOG IN</span>
    </button>

</div>
