<div id="profile-wrapper">
    <div class="details">
        <div class="header-field">
            <span>Profile Details</span>
        </div>
        <div class="detail-field">
            <span>User Name</span>
            <span>{{profile.user.userName}}</span>
        </div>
        <div class="detail-field">
            <span>First Name</span>
            <span>{{profile.user.firstName}}</span>
        </div>
        <div class="detail-field">
            <span>Last Name</span>
            <span>{{profile.user.lastName}}</span>
        </div>
        <div class="detail-field">
            <span>Email</span>
            <span>{{profile.user.email}}</span>
        </div>
        <div class="detail-field">
            <span>Password</span>
            <span>{{profile.user.password}}</span>
        </div>
    </div>
    <div class="management" ui-sref="user.categories">
        <span class="header-field">Categories</span>
        <span id="category-management" class="">Category Management</span>
    </div>
</div>