<div id="profile-wrapper">
    <div class="column-wrapper">
        <div class="details">
            <div class="header-field">
                <span class="fc-header">Profile Details</span>
            </div>
            <div class="detail-field">
                <span>User Name</span>
                <span>{{profile.user.userName}}</span>
            </div>
            <div class="detail-field">
                <span>First Name</span>
                <span>{{profile.user.firstName}}</span>
            </div>
            <div class="detail-field">
                <span>Last Name</span>
                <span>{{profile.user.lastName}}</span>
            </div>
            <div class="detail-field">
                <span>Email</span>
                <span>{{profile.user.email}}</span>
            </div>
            <div class="detail-field">
                <span>Password</span>
                <span>{{profile.user.password}}</span>
            </div>
        </div>
        <div class="details details-center" ui-sref="user.categories">
            <span id="cagtegory-header" class="header-field fc-header">Category Management</span>
            <div class="">
                <span id="category-management" class="">Categories</span>
            </div>
        </div>
    </div>
    <div class="column-wrapper fix">
        <div class="details">
            <span class="header-field fc-header">Scoreboard and Statics</span>
            <div class="session-details">
                <span class="bold-text">Date</span>
                <span class="category-static bold-text">Category</span>
                <span class="bold-text">Score</span>
            </div>
            <div class="scroll-x">
                <div class="session-details" ng-repeat="session in profile.sessions">
                    <span>{{session.date}}</span>
                    <span>{{session.category.name}}</span>
                    <span>{{session.score}}%</span>
                </div>
            </div>
            <span class="error" ng-if="profile.sessions.length == 0">You don't have ended sessions to be displayed</span>
        </div>
        <div class="details">
            <span class="header-field fc-header">Let's play</span>
            <select ng-model="profile.categoryId">
                <option ng-repeat="category in profile.categories" value="{{category.id}}" selected>{{category.name}}</option>
            </select>
            <!--<select ng-model="profile.categoryId"
                    ng-init="profile.categoryId = profile.categoryId || profile.categories[0].id"
                    ng-options="category.name as category.id for category in profile.categories">
            </select>-->
            <button class="play-button" ng-if="profile.categoryId" ui-sref="user.session({categoryId : {{profile.categoryId}} })">Let's play</button>
            <span ng-if="profile.categories.length == 0" class="error">Please add category in the Category Management to start playing</span>
        </div>
    </div>
</div>

