<div id="details">
    <sec:authentication var="user" property="principal" />
    <div class="header-field">
        <span>Profile Details</span>
    </div>
    <div class="detail-field">
        <span>User Name</span>
        <span>${user.user.userName}</span>
    </div>
    <div class="detail-field">
        <span>First Name</span>
        <span>${user.user.firstName}</span>
    </div>
    <div class="detail-field">
        <span>Last Name</span>
        <span>${user.user.lastName}</span>
    </div>
    <div class="detail-field">
        <span>Email</span>
        <span>${user.user.email}</span>
    </div>
    <div class="detail-field">
        <span>Password</span>
        <span>${user.user.password}</span>
    </div>
</div>