<div id="fc">
    <form ng-submit="login.login()"  class="login-wrapper">
        <div ng-if="!login.success" ng-show="error">
            <span id="user-error">Wrong username or password!</span>
        </div>
        <div class="details-field">
            <label class="" path="userName">Username</label>
            <input class="input-field" ng-model="login.user.userName" type="text" path="userName" required="true"/>
        </div>
        <div class="details-field">
            <label class="" path="password">Password</label>
            <input class="input-field" ng-model="login.user.password" type="password" path="password" required="true"/>
        </div>
        <button id="submit" type="submit">
            <span class="text-button">LOG IN</span>
        </button>
    </form>
</div>