<div id="login-wrapper">
    <div id="login-details">
        <div id="user-details">
            <label class="light-text" path="userName">Username</label>
        <input class="input-field" type="text" path="userName" requried="true"/>
            <label class="light-text" path="password">Password</label>
            <input class="input-field" type="password" path="password" requried="true"/>
        </div>
            <a id="register-link" href="${pageContext.request.contextPath}/registration">If you don't have an account please register</a>
    </div>
    <button id="submit-login" type="submit">
            <span class="bold-text">LOG IN</span>
    </button>
</div>
