<div class="category-header">
    <span class="category-header-text">Category Management</span>
</div>
<div class="column-wrapper categories-wrapper">
    <form class="details category-add" ng-submit="categoriesCtrl.saveCategory()">
        <span class="header-field">Create a new category</span>
        <input class="category-add-input input-field" ng-model="categoriesCtrl.category.name" placeholder="Please give the category name" />
        <button class="category-add-button" type="submit">Add new category</button>
    </form>
    <div class="details">
        <span class="header-field">Categories</span>
        <div class="categories-detail-wrapper  scroll-x">
            <div ng-repeat="category in categoriesCtrl.categories" >
                <fc-category on-delete="categoriesCtrl.deleteCategory(category)" category="category"></fc-category>
            </div>
        </div>

    </div>
</div>